<body id="fundo">
  <div class="card" id="telaLogin">
    <div class="card-body">
      <h2>Produto</h2>
      <form>
        <div class="input-field">
          <div class="mb-3">
            <label class="form-label">Nome:</label>
            <input name="nome" class="form-control" placeholder="Nome do produto" [(ngModel)]="produtosName">
          </div>
        </div>
        <div class="input-field">
          <div class="mb-3">
            <label class="form-label">Descrição:</label>
            <input name="nome" class="form-control" placeholder="Descrição" [(ngModel)]="produtosDescription">
          </div>
          <div class="input-field">
            <div class="mb-3">
              <label class="form-label">Preço:</label>
              <input name="nome" type="number" class="form-control" placeholder="R$" [(ngModel)]="produtosPrice">
            </div>
          </div>

          <div class="input-field">
            <div class="mb-3">
              <label class="form-label">Tipo:</label>
              <select name="nome" class="form-control" placeholder="Tipo" [(ngModel)]="produtosType">
                <option value="Salgado">Salgado</option>
                <option value="Pães">Pães</option>
                <option value="Confeitaria">Confeitaria</option>
                <option value="Bebida">Bebida</option>
              </select>
            </div>
          </div>

        </div>
        <div class="form-group text-center">
          <input type="button" class="btn btn-outline-success" (click)="CreateRecord()" value="Salvar">
        </div>
        <div>
        </div>


      </form>
    </div>
  </div>

</body>