<small class="text-center">Controle seus produtos e pedidos aqui.</small>
<div class="card" style="width: 14.5rem;">
    <div class="card-header text-dark">
        MEU PAINEL
    </div>
    <ul style="cursor:pointer" class="list-group list-group-flush">
        <li class="list-group-item" [routerLink]="'/pedidos'">Pedidos</li>
        <li class="list-group-item" [routerLink]="'/dashboard'">Meus Produtos</li>
        <li class="list-group-item" [routerLink]="'/produtos'">Adicionar Produtos</li>
    </ul>
    <div class="card-header text-dark">
        MINHA CONTA
    </div>
    <ul style="cursor:pointer" class="list-group list-group-flush">
        <li class="list-group-item">Editar Perfil</li>
    </ul>
</div>