<header>
  <div class="Filtrar">
    <select [(ngModel)]='Type' class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" class="selectm">
      <option value="Salgado">Salgado</option>
      <option value="Pães">Pães</option>
      <option value="Confeitaria">Confeitaria</option>
      <option value="Bebida">Bebida</option>
    </select>



    <button type="button" class="btn btn-outline-dark btn-sm" (click)="onTypeFilter()" id="lupa"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" class="lupa">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
      </svg></button>

    <button type="button" (click)="onTypeFilterClear()" class="btn btn-outline-dark btn-sm" id="borracha"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
        <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z" />
      </svg></button>

    <label> &nbsp;</label>
    <select [(ngModel)]='SortbyParam' class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" class="selectb">
      <option value="Price">Preço</option>
    </select>
    <button type="button" (click)="onSortDirection()" class="btn btn-outline-dark btn-sm" id="seta">
      <i *ngIf="SortDirection==='asc'"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
        </svg> </i>
      <i *ngIf="SortDirection==='desc'"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
        </svg></i>
    </button>
  </div>
</header>
<tr *ngFor="let produto of produto|filter:SearchType:'Type'|sort:[SortbyParam, SortDirection] " class="collection">
  <mat-card *ngIf="!produto.isEdit; else elseBlock">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{produto.Name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{produto.Type}}, R${{produto.Price}}</h6>
        <p class="card-text">{{produto.Description}}</p>
        <div class="form-group text-center">
          <button type="button" class="btn btn-outline-warning " (click)="EditRecord(produto)">Editar</button>
          <button type="button" class="btn btn-outline-danger " (click)="RemoveRecord(produto.id)">Deletar</button>
        </div>
      </div>
    </div>


  </mat-card>
  <ng-template #elseBlock>
    <!-- Edicação de Exclusão do Icecream-->
    <mat-card>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h6 class="text-muted"><label class="form-label">Nome:</label>
            <input name="nome" class="form-control" placeholder="Nome do produto" [(ngModel)]="produto.EditName">
          </h6>
          <h6 class="card-subtitle mb-2 text-muted"><label class="form-label">Descrição:</label><input name="nome" class="form-control" placeholder="Descrição" [(ngModel)]="produto.EditDescription"></h6>
          <h6 class="card-subtitle mb-2 text-muted"><label class="form-label">Preço:</label>
            <input name="nome" type="number" class="form-control" placeholder="R$" [(ngModel)]="produto.EditPrice">
          </h6>
          <h6 class="card-subititle mb-2 text-muted"><label class="form-label">Tipo:</label>
            <select name="nome" class="form-control" placeholder="Tipo" [(ngModel)]="produto.EditType">
              <option value="Salgado">Salgado</option>
              <option value="Pães">Pães</option>
              <option value="Confeitaria">Confeitaria</option>
              <option value="Bebida">Bebida</option>
            </select>
          </h6>
          <div class="form-group text-center">
            <button type="button" class="btn btn-outline-warning" (click)="produto.isEdit = false">Cancelar
            </button>
            <button type="button" class="btn btn-outline-success" (click)="UpdateRecord(produto)">Atualizar
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </ng-template>